@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<label>Sara</label>
<div class="item">
    <img src="~/images/2000px-Adecco_Logo.svg" alt="Microsoft Azure" class="img-responsive" />

